<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Valdez Virtual Pet</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Valdez virtual pet!
      </h1>
    </header>

    <main>
      <section class="pet-image-container">
        <img class="pet-image" src="https://scontent-dfw5-1.xx.fbcdn.net/v/t1.0-9/123438162_10160265022219325_6758865794725551513_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=730e14&_nc_ohc=NKB3JJk91JsAX-MoUOX&_nc_ht=scontent-dfw5-1.xx&oh=4d6d6302c46cdfd85278085f081b96ec&oe=6068ACDA">
      </section>
      <section class="dashboard">
        <div>Name: <strong><span class="name"></span></strong></div>
        <div>Weight: <strong><span class="weight"></span> pounds</strong></div>
        <div>Happiness: <strong><span class="happiness"></span> tail wags (per min)</strong></div>
        <div>Thoughts: <strong><span class="message"></span> </strong></div>
        <div class="button-container">
          <button class="treat-button">
            Treat
          </button>
          <button class="play-button">
            Play
          </button>
          <button class="exercise-button">
            Exercise
          </button>
<!--        added this button     -->
          <button class="message-button">
            My Thoughts
          </button>
        </div>
      </section>
    </main>



    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
