/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}
html{
  background: antiquewhite;
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  color: blue;
}

main {
  display:block;
  height:175px;
}

header {
  border-bottom: 1px solid black;
}

h1 {
  font-weight: bold;
  color: blue;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}


li {
  margin-bottom: 5px;
}

footer {
  padding-top: 25px;
  border-top: 1px solid black;
}

footer a {
  float:left;
  margin:5px;
}

.pet-image {
  height:500px;
}

.dashboard div {
  display:block;
}

.pet-image-container {
  float:center;
  padding:10px;
}

.dashboard {
  float:center;
  padding:20px;
}

.button-container {
  margin-top:20px;
}

.button-container button {
  width: 150px;
  height: 50px;
	margin-right: 10px;
	text-align: center;
	display: inline-block;
	float: left;
  font-size:15px;
  background-color: #1e2835;
  border-color: #404853;
  cursor:pointer;
  background-image: linear-gradient(to bottom,orange,grey);
  color: blue;
}